---
layout: archive
---

{{ content }}

<h3> From Q --> P</h3>
The first alphabetic line of any "English" KeyBorad (US/UK styled) two letter "Q" and "P", adjacent in alphabet yet far in use as together.

I am a interested in forms of life, their science, art, math and philosophy. See the [about page](_pages/about.md) for information on my education and
research interest. Read [project page](_pages/project.md) for stuff i find interesting.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
